<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo List</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <h1>ToDO App</h1>

    <!-- THIS CONTAINER HANDLES THE WHOLE APP UI -->
    <div id="main-div">
        <form action="/add-todo" method="post">

            <!-- DESCRIPTION FOR OUR TODO TASK HAVING 100% WIDTH-->
            <div id="description">
                <span class="header" >DESCRIPTION</span>
                <input type="text" name="description" placeholder="Explain your task" required>
            </div>
            
            <!-- THIS CONTAINER HANDLES BOTH THE CATEGORY AND DATE WITH 50% WIDTH-->
            <div id="cat-date">
                <!-- CONTAINER FOR CATEGORY DROPDOWN -->
                <div class="dropdown">
                    <p class="header">Category</p>
                    <select class="header" id = "myList" name="selectpicker" > 
                        <option> Choose a Category </option>  
                        <option> College </option>  
                        <option> Coding </option>  
                        <option> DSA </option>  
                        <option> Workout </option>  
                    </select>
                </div>
                <!-- CONTAINER FOR DUE DATE FOR OUR TODO TASK -->
                <div id="date">
                    <p class="header">DUE DATE</p>
                    <input type="date" id="due_date" name="due_date" required>
                </div>
              
            </div>

            <!-- THIS CONTAINER HANDLES THE ACTION BUTTON TO ADD AND DELETE THE TASK -->
            <div class="action-button">
                <button class="advance-button" id="add">
                    <span>Add Task</span>
                    <i class="fas fa-lg fa-plus"></i>
                </button>
            </div>

        </form>

        <!-- LIST OF ITEMS -->

        <!-- THIS CONTAINER HANDLES THE LIST OF TODO TASK  -->
        <form action="/delete-todo" method="post">
            <div id="list-of-task">
                <ul>
    
                    <!-- I DIVIDE ONE LIST IN TWO PARTS LEFT AND RIGHT PART SUCH THAT DESCRIPTION AND DUE DATE COME TO LEFT PART AND CATEGORY COME TO RIGHT PART -->

                    <% for(let i of todo){%>
                        <li id="task-item">
                        <div id="left-part">
                            <input type="checkbox" name="<%= i._id%>">
                            <label for=""><%= i.description%></label>
                            
                            <div id="date-display">
                                <i class="fas   fa-calendar-week"></i>
                                <p><%= i.due_date%></p>
                            </div>
                        </div> 
                        
                        <div id="right-part" class="category-color">
                            <p><%= i.category%></p>
                        </div>
                        </li>
                    <%}%>
                </ul>
            </div>
            <div class="action-button">
                <button class="advance-button" id="delete">
                    <span> Delete task</span>
                    <i class="fas fa-lg fa-trash-alt"></i>
                </button>
            </div>
            
        </form>




    </div>
    <script src="js/main.js"></script>
</body>